@font-face {
    font-family: "comic_sans";
    src: url(C:/Users/azuev/Documents/site/fonts/comic_sans.ttf) format("opentype");
}



body {
  background-color: #ffefc4;
}

div {
  background-color: #ffecb8;
  margin-left: 30px;
  margin-top: 10px;
  width: 50%;
}

p {
  margin: 5px;
  font-family: "comic_sans", Verdana, Tahoma;
}

a {
  margin: 5px;
  font-family: "comic_sans", Verdana, Tahoma
}

a:link {
  color: brown;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: sandybrown;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: burlywood;
  background-color: transparent;
  text-decoration: underline;
}

h2 {
  font-family: "comic_sans", Verdana, Tahoma
}
